<section class="container_cadastros fomulario ff-inter">
  <header class="header">
    <h2>{{ titulo }}</h2>
  </header>
  <form [formGroup]="formulario">

    <label for="categoria">Categorias</label>
    <input
      type="textarea"
      class="input"
      id="categoria"
      formControlName="categoria"
      placeholder="Digite a categoria"
    >
    <div class="mensagem__erro"
     *ngIf="formulario.get('categoria')?.errors && formulario.get('categoria')?.touched">
      Categoria é Obrigatória!
    </div>

    <label for="texto">Texto</label>
    <input
      type="textarea"
      class="input"
      id="texto"
      formControlName="texto"
      placeholder="Digite o texto"
    >

    <div class="d-flex flex-column align-items-center">
      <div class="d-flex flex-wrap gap-3">
      <button
      [disabled]="!formulario.valid"
       (click)="id ? editar() : criar()"
        [ngClass]="habilitarBotao()"
        id="btnSalvar"
        >Salvar
      </button>
      <button (click)="cancelar()" class="botao">Cancelar</button>
      </div>
    </div>
  </form>
</section>
