<div class="container row mx-auto">
    <div class="col-md-9 align-self-center">
      <p class="titulo">
        Móveis
      </p>
    </div>
    <div class="col-md-3 align-self-center">
        <a href="https://www.instagram.com/casarohrmoveis/" target="_blank" title="Instagram" class="d-flex flex-column align-items-center link">
            <img src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/instagram@2x.png" alt="Instagram" width="20" height="20">
            <span>&#64;casarohrmoveis</span>
        </a>
    </div>
    <div class="col-md-7 align-self-center">
        <h3 class="centralizar-texto">FIQUE POR DENTRO DE NOSSAS OFERTAS​ <br/>
            <img src="../../../assets/imagens/temp/moveis_01.png" class="img" alt="" style="width: 90%;">
        </h3>
    </div>
    <div class="col-md-5">
        <h3 class="centralizar-texto">TUDO PARA SUA CASA <br/>
            <img src="../../../assets/imagens/temp/moveis_02.png" class="img" alt="" style="width: 100%;">
        </h3>
    </div>
    <div class="row mx-auto">
      <div class="col-md-9 align-self-center">
        <p class="titulo" style="font-size: xx-large; color: #383737;">
          Locais
        </p>
      </div>
  </div>
  <div class="row mx-auto">
    <div class="align-top-center">
      <div class="mural d-flex flex-column align-items-center">
        <div class="d-flex flex-wrap justify-content-center gap-3">
          <div class="text-center">
            <h5 class="texto">Rio Novo do Sul</h5>
            <button type="button" class="btn btn-success mb-1" style="height: 40px;">Fale com um representante</button>
            <br/>
            <button type="button" class="btn btn-secondary" style="width: 218px;">Como chegar
              <img src="../../../assets/imagens/maps.png" class="img" style="height: 20px;">
            </button>
          </div>
          <div class="text-center">
            <h5 class="texto">Piúma</h5>
            <button type="button" class="btn btn-success mb-1" style="height: 40px;">Fale com um representante</button>
            <br/>
            <button type="button" class="btn btn-secondary" style="width: 218px;">Como chegar
              <img src="../../../assets/imagens/maps.png" class="img" style="height: 20px;">
            </button>
          </div>
          <div class="text-center">
            <h5 class="texto">Barra de Marataízes</h5>
            <button type="button" class="btn btn-success mb-1" style="height: 40px;">Fale com um representante</button>
            <br/>
            <button type="button" class="btn btn-secondary" style="width: 218px;">Como chegar
              <img src="../../../assets/imagens/maps.png" class="img" style="height: 20px;">
            </button>
          </div>
          <div class="text-center">
            <h5 class="texto">Vila de Itapemirim</h5>
            <button type="button" class="btn btn-success mb-1" style="height: 40px;">Fale com um representante</button>
            <br/>
            <button type="button" class="btn btn-secondary" style="width: 218px;">Como chegar
              <img src="../../../assets/imagens/maps.png" class="img" style="height: 20px;">
            </button>
          </div>
          <div class="text-center">
            <h5 class="texto">Itaoca/Itaipava</h5>
            <button type="button" class="btn btn-success mb-1" style="height: 40px;">Fale com um representante</button>
            <br/>
            <button type="button" class="btn btn-secondary" style="width: 218px;">Como chegar
              <img src="../../../assets/imagens/maps.png" class="img" style="height: 20px;">
            </button>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>