<div class="container">
    <h1 class="text-center mb-5">Nossa História</h1>
    
    <div class="timeline">
        <div class="timeline-item" data-aos="fade-right">
            <div class="timeline-content">
                <div class="timeline-date">1938</div>
                <div class="timeline-image">
                    <img src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/7ba73aaa-3da9-4cf1-abf2-ccc85dea5875/uid_1515662/BACKGROUND.png" alt="Fundação Casa Rohr">
                </div>
                <div class="timeline-text">
                    <h3>Fundação</h3>
                    <p>Os irmãos Valter e Sinésio Rohr fundaram a Irmãos Rohr Ltda., dando início à história da Casa Rohr.</p>
                </div>
            </div>
        </div>

        <div class="timeline-item" data-aos="fade-left">
            <div class="timeline-content">
                <div class="timeline-date">1940</div>
                <div class="timeline-image">
                    <img src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/7ba73aaa-3da9-4cf1-abf2-ccc85dea5875/uid_1515662/BACKGROUND.png" alt="Expansão do negócio">
                </div>
                <div class="timeline-text">
                    <h3>Expansão Familiar</h3>
                    <p>Os irmãos Jonas e Heron Rohr entram para a sociedade, fortalecendo ainda mais o negócio familiar.</p>
                </div>
            </div>
        </div>

        <div class="timeline-item" data-aos="fade-right">
            <div class="timeline-content">
                <div class="timeline-date">1954</div>
                <div class="timeline-image">
                    <img src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/7ba73aaa-3da9-4cf1-abf2-ccc85dea5875/uid_1515662/BACKGROUND.png" alt="Primeira loja própria">
                </div>
                <div class="timeline-text">
                    <h3>Primeira Loja Própria</h3>
                    <p>Inauguração da primeira loja própria, trazendo mais conforto e variedade de produtos aos clientes.</p>
                </div>
            </div>
        </div>

        <div class="timeline-item" data-aos="fade-left">
            <div class="timeline-content">
                <div class="timeline-date">1980</div>
                <div class="timeline-image">
                    <img src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/7ba73aaa-3da9-4cf1-abf2-ccc85dea5875/uid_1515662/BACKGROUND.png" alt="Superação">
                </div>
                <div class="timeline-text">
                    <h3>Superação</h3>
                    <p>Mesmo após um grande incêndio, a Casa Rohr se manteve firme, reconstruindo e mantendo o atendimento aos clientes.</p>
                </div>
            </div>
        </div>

        <div class="timeline-item" data-aos="fade-right">
            <div class="timeline-content">
                <div class="timeline-date">Hoje</div>
                <div class="timeline-image">
                    <img src="https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/7ba73aaa-3da9-4cf1-abf2-ccc85dea5875/uid_1515662/BACKGROUND.png" alt="Casa Rohr hoje">
                </div>
                <div class="timeline-text">
                    <h3>Casa Rohr Hoje</h3>
                    <p>Presente em várias cidades com lojas de móveis, supermercados, materiais de construção e magazines, 
                       a Casa Rohr é referência em qualidade e atendimento no sul do ES.</p>
                </div>
            </div>
        </div>
    </div>
</div>
