<div class="container container_background">
    <h2>Conheça a Casa Rohr</h2>
    <p>Conheça agora um pouco da nossa história e saiba quem somos, pois a <span class="highlight">Casa Rohr</span> 
        tem muita história para contar.</p>
    
    <p>A <span class="highlight">Casa Rohr</span> foi fundada em <span class="highlight">1938</span>. No Espírito Santo, 
        poucas empresas estão há tanto tempo no mercado e em plena atividade. Empresas como a Rede Gazeta, a Rede Tribuna, 
        o Banco do Estado do Espírito Santo e a Cooperativa Selita são algumas delas.</p>
    
    <p>Na década de 1930, os irmãos <span class="highlight">Valter e Sinésio Rohr</span> decidiram criar a 
        <strong>Irmãos Rohr Ltda.</strong>. Começava ali a história de uma loja que se tornaria sinônimo de bom atendimento e 
        referência de vendas no sul do ES, sendo conhecida popularmente como <strong>Casa Rohr</strong>.</p>
    
    <p>Em <span class="highlight">1938</span>, a loja foi inaugurada. Com perseverança e muito trabalho, os irmãos superaram 
        desafios e expandiram o negócio. Na década de 1940, os irmãos <span class="highlight">Jonas e Heron Rohr</span> também 
        entraram para a sociedade.</p>
    
    <p>A visão inovadora da loja gerou dúvidas em algumas pessoas, mas o crescimento mostrou o acerto da iniciativa.
         Com o aumento da clientela, surgiu a necessidade de um espaço maior. Assim, em <span class="highlight">1954</span>, 
         a primeira loja própria foi inaugurada, trazendo mais conforto, variedade de produtos e ampliando o volume de vendas.</p>
    
    <p>Com a demanda crescente, novas estratégias foram implementadas e, para otimizar o atendimento, foram adquiridos dois 
        caminhões para entregas. No entanto, na década de 1980, um grande incêndio marcou negativamente a história da empresa. 
        Apesar do impacto, a reconstrução começou imediatamente, sem interromper o atendimento aos clientes já conquistados.</p>
    
    <p>Atualmente, a <span class="highlight">Casa Rohr</span> conta com:</p>
    <ul>
        <li>Duas lojas em Itapemirim</li>
        <li>Uma loja em Piúma</li>
        <li>Uma loja em Marataízes</li>
        <li>Dois supermercados</li>
        <li>Uma loja de móveis</li>
        <li>Uma loja de materiais de construção</li>
        <li>Um magazine em Rio Novo do Sul</li>
    </ul>
    
    <p>Hoje, a <span class="highlight">Casa Rohr</span> se destaca como um exemplo de sucesso e responsabilidade social, valorizando
         cada cliente como um amigo. <strong>Obrigado por fazer parte da nossa história!</strong></p>
</div>
