.container_background {
    background-image: url('https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/7ba73aaa-3da9-4cf1-abf2-ccc85dea5875/uid_1515662/BACKGROUND.png');
    background-size: cover;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
}
