<div class="container row mx-auto">
    <div class="col-md-9 align-self-center">
      <p class="titulo">
        Casa e Construção
      </p>
    </div>
    <div class="col-md-3 align-self-center">
        <a href="https://www.instagram.com/casarohr_mat.deconstrucao/" target="_blank" title="Instagram" class="d-flex flex-column align-items-center link">
            <img src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/instagram@2x.png" alt="Instagram" width="20" height="20">
            <span>&#64;casarohr_mat.deconstrucao</span>
        </a>
    </div>
</div>
<!-- <div class="container row mx-auto">
  <div class="col-md-7 align-self-center">
    <h3 class="centralizar-texto">FIQUE POR DENTRO DE NOSSAS OFERTAS​ <br/>
        <img src="../../../assets/imagens/temp/construcao_01.png" class="img" alt="" style="width: 90%;">
        <br/>
        <br/>
        <img src="../../../assets/imagens/temp/construcao_03.png" class="img" alt="" style="width: 90%;">
    </h3>
  </div>
  <div class="col-md-5">
    <h3 class="centralizar-texto">
        <br/>
        <img src="../../../assets/imagens/temp/construcao_02.png" class="img" alt="" style="width: 100%;">
        <br/> E MUITO MAIS
    </h3>
    <br/>
  </div>
</div> -->
<div>
  <app-card-carrosel [lista]="listaConstrucao"></app-card-carrosel>
</div>
<div class="centralizar">
  <a href="https://api.whatsapp.com/send/?phone=5528992549315&amp;text&amp;type=phone_number&amp;app_absent=0" 
    class="btn btn-success mb-1" 
    style="height: 40px;" 
    target="_blank" 
    rel="noopener noreferrer">
    Fale com um representante
  </a>
</div>