<footer class="footer">
  <div class="footer-container">
    <!-- Logo -->
    <div class="footer-item">
      <a href="/paginaInicial">
        <img src="../../../assets/imagens/Logo.png" alt="Logo AJDevelopments" class="img-fluid footer-logo">
      </a>
    </div>

    <!-- Endereço -->
    <div class="footer-item">
      <i class="fa-solid fa-location-dot"></i> Rua Teste, N° 13, <br /> Bairro Teste - ES <br />
      CEP - 00.000/00
    </div>

    <div class="footer-divider"></div> <!-- Barra vertical -->

    <!-- Contato -->
    <div class="footer-item">
      <i class="fa-solid fa-phone"></i> (99) 98888-8888 <br />
      <i class="fa-solid fa-envelope"></i> 
      <a href="mailto:teste@gmail.com">teste&#64;gmail.com</a>
    </div>

    <div class="footer-divider"></div> <!-- Barra vertical -->

    <!-- Redes Sociais -->
    <div class="footer-item footer-social">
      <a href="#" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a>
    </div>

    <!-- "Developed by" -->
    <div class="footer-copyright">
      <small>
        29/01/2025 Developed by 
        <a href="http://ajdevelopments.com.br" class="link-white" target="_blank" rel="noopener noreferrer">AJDevelopments</a>.
      </small>
    </div>
  </div>
</footer>
