<section class="container_cadastros fomulario ff-inter">
    <header class="header">
      <h2>{{ titulo }}</h2>
    </header>
    <form [formGroup]="formulario">

      <label for="categoria">Categorias</label>
      <div *ngIf="categorias">
        <div>
          <select class="select" id="categoria" aria-label="Selecione a categoria" formControlName="categoria">
            <option disabled selected value="">Escolha uma categoria</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.categoria }}</option>
          </select>
        </div>
      </div>
      <div class="mensagem__erro"
       *ngIf="formulario.get('categoria')?.errors && formulario.get('categoria')?.touched">
        Categoria é Obrigatória!
      </div>

      <label for="descricao">Descrição</label>
      <input
        type="textarea"
        class="input"
        id="descricao"
        formControlName="descricao"
        placeholder="Digite o descricao"
      >
      <div class="mensagem__erro"
       *ngIf="formulario.get('descricao')?.errors && formulario.get('descricao')?.touched">
        Descrição é Obrigatório!
      </div>

      <label for="foto">Foto</label>
      <input #imageInput
        type="file"
        class="form-control inputFile"
        id="foto"
        accept="image/*"
        (change)="processarArquivo($event.target)"
      >

      <div class="d-flex flex-column align-items-center">
        <div class="d-flex flex-wrap gap-3">
        <button
        [disabled]="!formulario.valid"
         (click)="id ? editar() : criar()"
          [ngClass]="habilitarBotao()"
          id="btnSalvar"
          >Salvar
        </button>
        <button (click)="cancelar()" class="botao">Cancelar</button>
        </div>
      </div>
    </form>
  </section>
