<div class="container row mx-auto">
    <div class="col-md-9 align-self-center">
      <p class="titulo">
        Locais
      </p>
    </div>
</div>
<div class="container row mx-auto">
    <h3 class="centralizar-texto">Móveis​</h3>
    <div class="col-md-3 align-self-center">
        Rio Novo do Sul
        <div style="width: 10px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3728.279222400927!2d-40.93671062511826!3d-20.860792867966477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb9156aaf2afe87%3A0xce88a04fc65d16f7!2sCASA%20ROHR!5e0!3m2!1spt-BR!2sbr!4v1738178128003!5m2!1spt-BR!2sbr" width="220" height="220" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="col-md-3 align-self-center">
        Piúma
        <div style="width: 10px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d29831.64327893793!2d-40.72395!3d-20.833507!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb91b84857710b7%3A0x5e6d9a0bdcbdb41c!2sCasa%20Rohr%20M%C3%B3veis!5e0!3m2!1spt-BR!2sbr!4v1738177747779!5m2!1spt-BR!2sbr" width="220" height="220" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="col-md-3">
        Barra de Marataízes
        <div style="width: 10px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d29795.107133976384!2d-40.813162!3d-21.01714!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb93b5add0dce6f%3A0x38c984870feb80eb!2sCasa%20Rohr%20M%C3%B3veis%20-%20Comercial%20Rohr!5e0!3m2!1spt-BR!2sbr!4v1738178027045!5m2!1spt-BR!2sbr" width="220" height="220" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="col-md-3">
        Itaoca/Itaipava
        <div style="width: 10px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3727.323002005513!2d-40.78052162511693!3d-20.89932066922301!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb91837c041424d%3A0xdffb39225d517dc5!2sCasa%20Rohr!5e0!3m2!1spt-BR!2sbr!4v1738178096983!5m2!1spt-BR!2sbr" width="220" height="220" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<!-- width="220" height="220" style="border:5;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" -->
<div class="container d-flex flex-column align-items-center">
    <h3 class="text-center">Supermercados</h3>
    <div class="row d-flex align-items-center justify-content-center w-100">
        <div class="col-md-5 text-center">
            <h5>Supermercado Casa Rohr - Loja 1</h5>
            <div class="d-flex justify-content-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7456.558190282778!2d-40.934136!3d-20.860798!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb9156aaf2afe87%3A0xce88a04fc65d16f7!2sCASA%20ROHR!5e0!3m2!1spt-BR!2sbr!4v1738178521019!5m2!1spt-BR!2sbr" 
                    width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-md-5 text-center">
            <h5>Supermercado Casa Rohr - Loja 2</h5>
            <div class="d-flex justify-content-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7456.426856872225!2d-40.934862!3d-20.863446!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb91514fa390dc7%3A0x4d89568e139e873!2sSupermercado%20Rohr%20-%20Smart%20Supermercados!5e0!3m2!1spt-BR!2sbr!4v1738178542632!5m2!1spt-BR!2sbr" 
                    width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h3 class="text-center">Magazine</h3>
    <div class="row justify-content-center">
        <div class="col-md-12 d-flex justify-content-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7449.147393521586!2d-40.82905!3d-21.009719!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb93b6e9c40bdad%3A0x17f37deee30e08f9!2sCasa%20Rohr%20-Rohr%20Magazine!5e0!3m2!1spt-BR!2sbr!4v1738178743085!5m2!1spt-BR!2sbr" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

