<div class="container row mx-auto">
  <div class="col-12 text-center mt-4 mb-4">
    <h2 class="titulo">{{categoria.categoria}}</h2>
  </div>
  <div class="col-12 text-center mt-4 mb-4">
    <p>{{categoria.texto}}</p>
  </div>
</div>
<div>
  <app-card-carrosel [lista]="listaMagazine"></app-card-carrosel>
</div>
<div>
  <div class="col-md-12">
    <br/>
    <div class="mural d-flex flex-column align-items-center">
      <div class="d-flex flex-wrap justify-content-center gap-3">
        <div>
          <a href="https://api.whatsapp.com/send/?phone=5528992988679&amp;text&amp;type=phone_number&amp;app_absent=0"
              class="btn btn-success mb-1"
              style="height: 40px;"
              target="_blank"
              rel="noopener noreferrer">
              Fale com um representante
            </a>
        </div>
        <div>
          <a href="https://maps.app.goo.gl/M9bJi2okGKKeLQDNA" class="btn btn-secondary d-flex align-items-center justify-content-center" style="width: 218px;" target="_blank">
            Como chegar
            <img src="../../../assets/imagens/maps.png" class="ms-2" style="height: 20px;">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
